<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario-ticket-ASME</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/css/style.1.css?v=1.5') }}">
    
</head>
<body>

    <nav class="nav-logos">
        <img src="https://res.cloudinary.com/ddcb3fk7s/image/upload/v1729865992/logo-ASME-1_qazzct.png" alt="Logo de la Empresa" class="logo" id="logo-asme" >
        <img src="https://res.cloudinary.com/ddcb3fk7s/image/upload/v1723319328/udep_logo_eqcizp.png" alt="Logo de la Empresa" class="logo" id="logo-udep">
        <img src="https://res.cloudinary.com/ddcb3fk7s/image/upload/v1731603076/Navy_Blue_and_White_Futuristic_Tech_Company_Presentation_1_zpaubk.png" alt="Logo de COSAI" class="logo" id="logo-cosai"/>
    </nav>


    {%block content%}
    
    {%endblock%}

    <footer>@2024 COSAI Brand. Todos los derechos reservados.</footer>
</body>
</html>