{% extends "base.html" %}

{%block content%}

<h1>Nuevo Cliente</h1>
<form action="/form/data_form" method="post" class="form-container">
    <label for="first_name">Nombres</label>
    <input type="text" id="first_name" name="first_name" placeholder="Ingresa tus nombres completos" required>

    <label for="last_name">Apellidos</label>
    <input type="text" id="last_name" name="last_name" placeholder="Ingresa tus apellidos completos" required>

    <label for="email">Correo</label>
    <input type="text" id="email" name="email" placeholder="Ingresa tu correo" required>

    <label for="dni">DNI</label>
    <input type="text" id="dni" name="dni" placeholder="Ingresa tu DNI" required>

    <label for="cell_phone">Celular</label>
    <input type="text" id="cell_phone" name="cell_phone" placeholder="Ingresa tu celular" required>

    <button type="submit">Enviar</button>

</form>

{%endblock%}

