{% extends "base.1.html" %}

{%block content%}

<div class="formulario">
    <h1 id="title-form">¡Gracias por su compra!</h1>
    <p class="seller">Vendedor:<b>{{data["seller"]}}</b> </p>
    <p class="seller">Tickets Vendidos:</p>
    <ul id="list-tickets">
        {% for ticket in data["tickets_data"] %}
            <li class="label-ticket"><b>Nro. {{ticket["number_ticket"]}}</b></li>
        {%endfor%}
    </ul>
    <div class="separator"></div>
    <h1 class="title" >Complete el formulario</h1>
    <form onsubmit=sendData(event) action="/form/data_form" method="post" class="form-container">
        <label for="first_name" class="label-input">Nombres</label>
        <input type="text" id="first_name" name="first_name" placeholder="Ingresa tus nombres completos" required>

        <label for="last_name" class="label-input">Apellidos</label>
        <input type="text" id="last_name" name="last_name" placeholder="Ingresa tus apellidos completos" required>

        <label for="email" class="label-input">Correo</label>
        <input type="text" id="email" name="email" placeholder="Ingresa tu correo" required>

        <label for="dni" class="label-input">DNI</label>
        <input type="text" id="dni" name="dni" placeholder="Ingresa tu DNI" required>

        <label for="cell_phone" class="label-input">Celular</label>
        <input type="text" id="cell_phone" name="cell_phone" placeholder="Ingresa tu celular" required>

        <button type="submit">Enviar</button>

    </form>

</div>


<script>
    const ticketsData=JSON.parse('{{ data["tickets_data"]|tojson|safe }}');

    function sendData(event){
        event.preventDefault();
        const formData = {
            "first_name":document.querySelector('input[name="first_name"]').value,
            "last_name":document.querySelector('input[name="last_name"]').value,
            "email":document.querySelector('input[name="email"]').value,
            "dni":document.querySelector('input[name="dni"]').value,
            "cell_phone":document.querySelector('input[name="cell_phone"]').value
        }

        fetch("/form/data_form",{
            method:'POST',
            headers:{'Content-Type':'application/json'},
            body:JSON.stringify({
                tickets_data:ticketsData,
                buyer_data:formData
            })
        }) .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok: ' + response.statusText);
            }
            return response.text();  // Obtener el HTML de la respuesta
        })
        .then(html => {
            // Reemplazar el contenido de la página con el nuevo HTML
            document.open();
            document.write(html);
            document.close();
        })
        .catch(error => {
            console.error('Error al enviar datos:', error);
        });
    }
</script>

{%endblock%}

