{% extends "base.1.html" %}

{%block content%}

<div class="form-image">

    <h1>Sube el voucher</h1>

    <form action="/form/image" method="post" onsubmit=sendImage(event) class="container-file">
        <div class="container-input-img">
            <input type="file" id="file" accept="image/*" class="upload-input" onchange=changeBackground(event) required />
            <label for="file" class="upload-label"></label>    
        </div>
        <button type="submit" class="">Continuar</button>
    </form>

</div>

<script>
    const ticketsData2=JSON.parse('{{data["tickets_data"] | tojson | safe}}');
    const email=JSON.parse('{{data["email"] | tojson | safe}}');
    const buyer=JSON.parse('{{data["buyer_data"] | tojson | safe}}')

    function changeBackground(event){
        const label = document.querySelector(".upload-label");
        const file = event.target.files[0];

        if (file){
            const reader = new FileReader();
            reader.onload = function(e){
                label.style.backgroundImage = `url(${e.target.result})`;
                label.style.backgroundSize = "50%";
                label.style.backgroundPosition = "center";
                label.style.minHeight="400px";
                label.style.paddingTop="20px"
                label.style.paddingBottom="20px"
                label.style.cursor = "pointer";
            }
            reader.readAsDataURL(file);
        }


    }


    function sendImage(event){
        event.preventDefault();
        const formData = new FormData();
        formData.append("tickets_data",JSON.stringify(ticketsData2));
        // formData.append("tickets_data",ticketsData);

        const imageFile = document.querySelector("input[id='file']").files[0];
        formData.append("image",imageFile);

        formData.append("email",email);

        formData.append("buyer",JSON.stringify(buyer))

        // const imageForm = {
        //     "image":document.querySelector("input[name='file']").value
        // }

        fetch("/form/image",{
            method:'POST',
            body:formData
        }).then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok: ' + response.statusText);
            }
            return response.text();  // Obtener el HTML de la respuesta
        })
        .then(html => {
            // Reemplazar el contenido de la página con el nuevo HTML
            document.open();
            document.write(html);
            document.close();
        })
        .catch(error => {
            console.error('Error al enviar datos:', error);
        });

    }
</script>

{%endblock%}